In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\Sangharsh\Desktop\git\Movie-Review\moviereviews.tsv", sep='\t')

In [5]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [6]:
len(df)

2000

In [8]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
blanks=[]
for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [11]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [13]:
df.drop(blanks,inplace=True)

In [14]:
len(df)

1938

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X=df['review']

In [17]:
y=df['label']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)

In [19]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC